.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 0;
  width: auto;
  margin-right: 1em;
}

.dashboard-card-content {
  text-align: center;
}

/* .card-chart {
  width: 50%;
  height: 25em;
}
*/

 .card-my-policies {
  height: 28em;
}

