
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile  >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Card 1
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          Card Content
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile  >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Card 2
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          Card Content
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- <mat-grid-tile [colspan]="2" class="card-my-policies">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            My Policies
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-my-policies></app-my-policies>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile> -->
    <mat-grid-tile [colspan]="2" >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            My Policies
            <button mat-icon-button class="more-button" aria-label="Toggle menu" (click)="addPolicyPopup()">
              <mat-icon>note_add</mat-icon> Add policy
            </button>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content">
          <app-my-policies></app-my-policies>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
