.add-policy-container {
  padding: 20px;
}

.add-policy-container .mat-button-base {
  margin: 0 8px !important;
}

.add-policy-container .submit-button {
  margin-left: 8px !important;
}

.add-policy-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.add-policy-container .mat-form-field {
  width: 220px;
}

.add-policy-container .mat-form-field.large-field{
  width: 335px;
}

.add-policy-container form {
  margin-bottom: 20px;
}

.add-policy-container form > * {
  margin: 5px 0;
}

.add-policy-container .mat-radio-button {
  margin: 0 12px;
}

.add-policy-container section.form-center {
  text-align: center;
}
